<div id="button-grid">
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<a href="index.html" data-role="button" data-inline="true"
				data-theme="a" data-mini="true"><i class="icon-off"></i></a>
		</div>
		<div class="ui-block-b">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-d">
			<a href="index.html" data-role="button"></a>
		</div>

		<div class="ui-block-e">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Input.Home"> <i class="icon-home"></i>
			</a>
		</div>
	</div>
</div>
<hr/>
<div id="directional-buttons">
	<div class="ui-grid-d">
		<div class="ui-block-a"></div>
		<div class="ui-block-b"></div>
		<div class="ui-block-c">
			<a href="#" data-role="button" data-theme="a" data-mini="true"
				data-inline="true" data-command="Input.Up"> <i
				class="icon-chevron-up"></i>
			</a>
		</div>
		<div class="ui-block-d"></div>

		<div class="ui-block-e"></div>
	</div>
	<div class="ui-grid-d">
		<div class="ui-block-a"></div>
		<div class="ui-block-b">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Input.Left"> <i
				class="icon-chevron-left"></i>
			</a>
		</div>
		<div class="ui-block-c">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Input.Select"> </a>
		</div>
		<div class="ui-block-d">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Input.Right"> <i
				class="icon-chevron-right"></i>
			</a>
		</div>

		<div class="ui-block-e"></div>
	</div>
	<div class="ui-grid-d">
		<div class="ui-block-a">x</div>
		<div class="ui-block-b"></div>
		<div class="ui-block-c">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Input.Down"> <i
				class="icon-chevron-down"></i>
			</a>
		</div>
		<div class="ui-block-d"></div>
		<div class="ui-block-e">
			<a href="index.html" data-role="button" data-inline="true"
				data-command="Input.Back" data-theme="a" data-mini="true"><i
				class="icon-remove"></i></a>
		</div>
	</div>
</div>
<hr/>
<div id="player-buttons">
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<a href="#" data-role="button" data-theme="a" data-inline="true"
				data-mini="true" data-command="Player.GoPrevious"> <i
				class="icon-step-backward"></i>
			</a>
		</div>
		    <div class="ui-block-b">
      <a href="#" data-role="button" data-theme="a" data-inline="true"
        data-mini="true" data-command="Input.Down"> <i
        class="icon-backward"></i>
      </a>
    </div>
        <div class="ui-block-c">
      <a href="#" data-role="button" data-theme="a" data-inline="true"
        data-mini="true" data-command="Player.PlayPause"> <i
        class="icon-play"></i>
      </a>
    </div>
        <div class="ui-block-d">
      <a href="#" data-role="button" data-theme="a" data-inline="true"
        data-mini="true" data-command="Player.Seek"> <i
        class="icon-forward"></i>
      </a>
    </div>
        <div class="ui-block-e">
      <a href="#" data-role="button" data-theme="a" data-inline="true"
        data-mini="true" data-command="Player.GoNext"> <i
        class="icon-step-forward"></i>
      </a>
    </div>
	</div>
</div>