<div id="player">
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-b">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>

		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>
	</div>
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-b">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>
		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>

		<div class="ui-block-c">
			<a href="index.html" data-role="button"></a>
		</div>
	</div>
</div>